@import "tailwindcss";

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@theme inline {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;
  --color-primary: var(--gray-12);
  --color-secondary: var(--gray-11);
  --color-tertiary: var(--gray-9);
  --color-link: var(--blue-11);
  --color-page: var(--gray-1);
  --color-surface: var(--gray-2);
  --color-something: var(--gray-3);
  --animate-in: in 0.6s both;
  --animate-in-reverse: in-reverse 0.6s both;
}

@font-face {
  font-family: "Geist";
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Variable.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@keyframes in {
  0% {
    transform: translateY(18px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes in-reverse {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(18px);
    opacity: 0;
  }
}
