---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <section class="mt-16">
    <div class="flex flex-col gap-8">
      <div class="space-y-4">
        <h1
          class="animate-in text-primary text-3xl font-semibold tracking-tight"
        >
          Hey, I'm Brian!
        </h1>
        <p class="animate-in text-secondary max-w-lg [animation-delay:150ms]">
          I am a Technical Support Executive in Ireland, currently focused on
          product engineering, interface craft, and making useful things with
          Astro, TypeScript, and modern web tools.
        </p>
      </div>
      <div class="animate-in flex gap-3 text-sm [animation-delay:300ms]">
        <a
          href="https://github.com/brianhnsy"
          class="bg-surface hover:bg-something flex w-fit items-center rounded-full px-3 py-1 no-underline"
          >GitHub<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
            class="text-tertiary h-4 w-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a
          href="https://x.com/brianhnsy"
          class="bg-surface hover:bg-something flex w-fit items-center rounded-full px-3 py-1 no-underline"
          >Twitter<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
            class="text-tertiary h-4 w-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
              clip-rule="evenodd"></path>
          </svg></a
        >
        <a
          href="https://linkedin.com/in/brianhnsy"
          class="bg-surface hover:bg-something flex w-fit items-center rounded-full px-3 py-1 no-underline"
          >LinkedIn<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
            class="text-tertiary h-4 w-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
              clip-rule="evenodd"></path>
          </svg></a
        >
      </div>
    </div>
  </section>
</Layout>
